nav {
  padding: 1rem 2rem;
  height: 64px;

  align-items: center;
  display: flex;
  justify-content: space-between;

  background-color: coral;
}

ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  list-style: none;
}

.basket-icon:hover + .basket {
  opacity: 1;
  visibility: visible;
}
